.header {
    margin-top: 80px;
}

.header-item {
    background: url('https://cdn.pixabay.com/photo/2016/06/29/20/35/panorama-1487713_960_720.jpg') no-repeat;
    width: 100%;
    background-size: cover;
    height: 350px;
}
.header h1 {
    font-family: 'Lobster', cursive;
    opacity: .6;
    font-size: 50px;
}
